.invisible {
    display: none;
}

.myCard {
    width: 63px;
    height: 88px;
}

.my-card {
    width: 63px;
    height: 88px;
}

.game-player {
    text-align: center;
    margin-bottom: 20px;
}

.game {
    margin-top: 20px;
}

.game-table {
    text-align: center;
}

.game-token {
    position: relative;
    top: -60px;
    width: 50px; height: 50px;
}

.red {
    color: #FF0000;
}

.blue {
    color: #0000FF;
}

.table-log td, .table-log th {
    padding: .25rem;
    font-size: 12px;
}
