body {}

.logo {
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 300;
}

.box-signin, .box-signup {
    margin: 12%;
}

.form-signin {
    max-width: 330px;
    margin: 0 auto;
}

.form-signup {
    max-width: 330px;
    margin: 0 auto;
}

.signin-footer-box {
    max-width: 280px;
    margin: 0 auto
}

.signup-footer-box {
    max-width: 55px;
    margin: 0 auto;
}

.signin-footer-box a, .signup-footer-box a, .logo a {
    text-decoration: none;
    color: #444;
}
