{{ template "../components/navtabsadmin.html" }}
<div class="container" id="stats">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <th>#</th>
                <th>AITypes</th>
                <th>Count</th>
                <th>Places</th>
                <th>Points</th>
                <th>ExecTime</th>
                <th>ReadyAt</th>
                <th>CreatedAt</th>
                <th></th>
            </thead>
            <tbody id="games">
                {{ range $idx, $stat := $.Stats }}
                <tr id="stat-{{ $stat.Id }}">
                    <th>{{ $stat.Id }}</th>
                    <td>
                        {{ range $i, $AIName := $stat.AINames }}
                        {{ $AIName }}
                        {{ end }}
                    </td>
                    <td>{{ $stat.GameCount }}</td>
                    <td>{{ $stat.PlayerCount }}</td>
                    <td>{{ $stat.Points }}</td>
                    {{ if $stat.IsReady }}
                    <td>{{ $stat.ExecTime }}</td>
                    <td>{{ $stat.ReadyStr }}</td>
                    {{ else }}
                    <td></td>
                    <td>{{ $stat.ReadyJSON }}%</td>
                    {{ end }}
                    <td>{{ $stat.CreatedStr }}</td>
                    <td><button class="btn btn-link" onClick="Admin.DeleteStat({{ $stat.Id }})">Delete</button></td>
                </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
