<div>
    <div id="deck"><p>The remaining cards in the deck: {{ $.playerInfo.DeckSize }}</p></div>
    <div id="redTokens"><p>Red tokens: {{ $.playerInfo.RedTokens }}</p></div>
    <div id="blueTokens"><p>Blue tokens: {{ $.playerInfo.BlueTokens }}</p></div>
    <div id="table-cards">
        Cards on table:
        <div id="table-red-cards">Red:
            {{ $red := index $.playerInfo.TableCards 1 }}
            {{ if ne $red.Value 0 }}
            {{ cardValue $red.Value }}
            {{ else }}
            {{ end }}
        </div>
        <div id="table-blue-cards">Blue:
            {{ $blue := index $.playerInfo.TableCards 2 }}
            {{ if ne $blue.Value 0 }}
            {{ cardValue $blue.Value }}
            {{ else }}
            {{ end }}
        </div>
        <div id="table-green-cards">Green:
            {{ $green := index $.playerInfo.TableCards 3 }}
            {{ if ne $green.Value 0 }}
            {{ cardValue $green.Value }}
            {{ else }}
            {{ end }}
        </div>
        <div id="table-gold-cards">Gold:
            {{ $gold := index $.playerInfo.TableCards 4 }}
            {{ if ne $gold.Value 0 }}
            {{ cardValue $gold.Value }}
            {{ else }}
            {{ end }}
        </div>
        <div id="table-black-cards">Black:
            {{ $black := index $.playerInfo.TableCards 5 }}
            {{ if ne $red.Value 0 }}
            {{ cardValue $black.Value }}
            {{ else }}
            {{ end }}
        </div>
    </div>
    <div id="user-cards">
        Cards of players:
        {{ range $pos, $cards := $.playerInfo.PlayersCards }}
        <div>
            {{ $isMyCards := eq $.playerInfo.Position $pos }}
            {{ if $isMyCards }}
            My Cards:
            {{ else }}
            Player #{{ $pos }}:
            {{ end }}
            <div>
                {{ range $idx, $card := $cards }}
                <div>
                    {{ cardValue $card.Value }} {{ cardColor $card.Color }}
                    {{ if and $isMyCards $.playerInfo.MyTurn }}
                    <a href="javascript:Game.PlayCard({{ $idx }})">
                        Play card
                    </a>
                    <a href="javascript:Game.DiscardCard({{ $idx }})">
                        Discard card
                    </a>
                    {{ end }}
                    {{ $notMyCards := not $isMyCards }}
                    {{ if and $notMyCards $.playerInfo.MyTurn }}
                    <a href="javascript:Game.InfoCardValue({{ $pos }}, {{ $card.Value }})">
                        Information about value: {{ cardValue $card.Value }}
                    </a>
                    <a href="javascript:Game.InfoCardColor({{ $pos }}, {{ $card.Color }})">
                        Information about color: {{ cardColor $card.Color }}
                    </a>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</div>
