<style>
    .abc {
        position: relative;
        left: 50% - 30px;
    }
</style>
<div>
    <div id="user-cards" class="col-md-12">
        {{ range $pos, $cards := $.playerInfo.PlayersCards }}
        <div id="player-pos-{{ $pos }}">
            <div id="player-cards-{{ $pos }}" class="col-md-12">
                {{ $isMyCards := eq $.playerInfo.Position $pos }}
                {{ index $.NickNames $pos }}
                {{ if $isMyCards }}
                (you)
                {{ end }}
                <ul name="basic-cards">
                    {{ range $idx, $card := $cards }}
                    <li class="list-inline" style="display: inline-block">
                        <img src="{{ getCardUrl $card.Color $card.Value }}"  width="63" height="88">
                        <div>
                        {{ if and $isMyCards $.playerInfo.MyTurn }}
                            <div>
                                <a href="javascript:Game.PlayCard({{ $idx }})">
                                    <i class="fa fa-play"> play</i>
                                </a>
                            </div>
                            <div>
                                <a href="javascript:Game.DiscardCard({{ $idx }})">
                                    <i class="fa fa-shopping-basket"> discard</i>
                                </a>
                            </div>
                        {{ end }}
                        {{ $notMyCards := not $isMyCards }}
                        {{ if and $notMyCards $.playerInfo.MyTurn }}
                            <div>
                                <a href="javascript:Game.InfoCardValue({{ $pos }}, {{ $card.Value }})">
                                    <i class="fa fa-info"> value</i>
                                </a>
                            </div>
                            <div>
                                <a href="javascript:Game.InfoCardColor({{ $pos }}, {{ $card.Color }})">
                                    <i class="fa fa-info"> color</i>
                                </a>
                            </div>
                        {{ end }}
                        </div>
                    </li>
                    {{ end }}
                </ul>
                <ul name="additional-cards" class="invisible">
                    {{ range $idx, $card := index $.playerInfo.PlayersCardsInfo $pos }}
                    <li class="list-inline" style="display: inline-block">
                        <img src="{{ getCardUrl $card.Color $card.Value }}"  width="63" height="88">
                        <div>
                        {{ if and $isMyCards $.playerInfo.MyTurn }}
                            <div>
                                <a href="javascript:Game.PlayCard({{ $idx }})">
                                    <i class="fa fa-play"> play</i>
                                </a>
                            </div>
                            <div>
                                <a href="javascript:Game.DiscardCard({{ $idx }})">
                                    <i class="fa fa-shopping-basket"> discard</i>
                                </a>
                            </div>
                        {{ end }}
                        {{ $notMyCards := not $isMyCards }}
                        {{ if and $notMyCards $.playerInfo.MyTurn }}
                            <div>
                                <a href="javascript:Game.InfoCardValue({{ $pos }}, {{ $card.Value }})">
                                    <i class="fa fa-info"> value</i>
                                </a>
                            </div>
                            <div>
                                <a href="javascript:Game.InfoCardColor({{ $pos }}, {{ $card.Color }})">
                                    <i class="fa fa-info"> color</i>
                                </a>
                            </div>
                        {{ end }}
                        </div>
                    </li>
                    {{ end }}
                </ul>
            </div>
            {{ if $isMyCards }}
            <div class="col-md-12">
                <button class="btn btn-info" onclick="javascript: Game.ChangeCardsVisible()">Information of other players</button>
            </div>
            {{ end }}
        </div>
        {{ end }}
    </div>
</div>

<div class="col-md-12" id="table-pos" style="text-align:center">
    <div class="col-md-12">
        <ul>
            {{ range $colorName, $color := $.TableColors }}
            <li id="table-{{ $colorName }}-cards" class="list-inline" style="display: inline-block">
                {{ $red := index $.playerInfo.TableCards $color }}
                <img src="{{ getCardUrl $color $red.Value }}" width="63" height="88">
            </li>
            {{ end }}
        </ul>
    </div>
    <div class="col-md-12" style="">
        <ul>
            <li class="list-inline" style="display: inline-block">
                <div class="col-md-12" style="padding: 0px" height="120px">
                    <img src="/static/img/deck.png" width="76" height="106" style="position:relative;">
                    <img src="/static/img/number_{{ $.deckFirstNumber }}.png" width="30" style="position:absolute; left:6px; top:30px">
                    <img src="/static/img/number_{{ $.deckSecondNumber }}.png" width="30" style="position:absolute; left:31px; top:30px">
                </div>
            </li>
            <li class="list-inline" style="display: inline-block">
                <img src="/static/img/token_red.png" width="50" height="50" style="position:relative; top:-30px">
                <img src="/static/img/number_{{ $.playerInfo.RedTokens }}.png" width="30" style="position:relative; top:-30px">
            </li>
            <li class="list-inline" style="display: inline-block">
                <img src="/static/img/token_blue.png" width="50" height="50" style="position:relative; top:-30px">
                <img src="/static/img/number_{{ $.playerInfo.BlueTokens }}.png" width="30" style="position:relative; top:-30px">
            </li>
        </ul>
    </div>
</div>

<div id="game-table" class="col-md-12" style="text-align:center"></div>

<div id="used-cards" style="float: center">
    {{ range $idx, $card := $.playerInfo.UsedCards }}
    <img src="{{ getCardUrl $card.Color $card.Value }}" width="63" height="88">
    {{ end }}
</div>

<meta name="step" step="{{ .Step }}">
