<nav class="navbar navbar-light bg-faded">
    <button class="btn btn-sm align-middle btn-outline-secondary" type="button" onclick="View.MakePrevGame()">Prev</button>
    {{ range $idx, $action := $.Actions }}
    <button class="btn btn-sm align-middle btn-outline-secondary" type="button" onclick="View.MakeGame({{ $idx }})">{{ $idx }}</button>
    {{ end }}
    <button class="btn btn-sm align-middle btn-outline-secondary" type="button" onclick="View.MakeGame({{ len $.Actions }})">{{ len $.Actions }}</button>
    <button class="btn btn-sm align-middle btn-outline-secondary" type="button" onclick="View.MakeNextGame()">Next</button>
</nav>

<div id="view-box">
    <div id="game" class="col-md-8 game">
    </div>
    <div class="col-md-4">
        <table class="table table-striped table-fixed">
            <thead>
                <th>#</th>
                <th>Type</th>
                <th>Player</th>
                <th>Value</th>
            </thead>
            <tbody id="game-actions">
            </tbody>
        </table>
    </div>
</div>
