{{ template "../components/navtabs.html" }}
<div class="container">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead id="table-head">
                <th>#</th>
                <th>Creator</th>
                <th>Users</th>
                <th>Places</th>
                <th>Status</th>
                <th></th>
            </thead>
            <tbody id="games">
                {{ range $idx, $game := .games }}
                <tr id="game-{{ $game.Id }}">
                    <th scope="row">{{ $game.Id }}</th>
                    <td>{{ $game.Owner }}</td>
                    <td>
                        {{ range $i, $player := $game.Players }}
                        {{ $player.NickName }}
                        {{ end }}
                    </td>
                    <td>
                        {{ $game.PlayerCount }}
                    </td>
                    <td>{{ $game.Status }}</td>
                    <td>
                        {{ if $game.UserIn }}
                        {{ if compare $game.Status "active" }}
                        <a class="btn-link" href="{{ urlfor "GameController.Game" ":id" $game.Id }}">Go</a>
                        {{ else }}
                        <a class="btn-link" href="#" onclick="Lobby.Leave({{ $game.Id }});">Leave</a>
                        {{ end}}
                        {{ else }}
                        {{ if compare $game.Status "active" }}
                        {{ else }}
                        <a class="btn-link" href="#" onclick="Lobby.Join({{ $game.Id }});">Join</a>
                        {{ end }}
                        {{ end }}
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        <div class="form-group col-md-2">
            <button type="button" class="btn btn-default" onclick="Lobby.Create(false);" value="create">New Game</button>
        </div>
        <div class="form-group col-md-2">
            <button type="button" class="btn btn-default" onclick="Lobby.Create(true);" value="create">New Game with AI</button>
        </div>
        <div class="form-group col-md-4">
            <input type="number" min="2" max="5" class="form-control" name="playersCount" placeholder="Players count 2..5"/>
        </div>
    </div>
</div>
