<div>
    <div id="deck"><p>The remaining cards in the deck: {{ $.playerInfo.DeckSize }}</p></div>
    <div id="redTokens"><p>Red tokens: {{ $.playerInfo.RedTokens }}</p></div>
    <div id="blueTokens"><p>Blue tokens: {{ $.playerInfo.BlueTokens }}</p></div>
    <div id="table-cards" class="col-md-12">
        Cards on table:
        <div>
            <ul>
                {{ range $colorName, $color := $.TableColors }}
                <li id="table-{{ $colorName }}-cards" class="list-inline" style="display: inline-block">
                    {{ $red := index $.playerInfo.TableCards $color }}
                    <img src="{{ getCardUrl $color $red.Value }}" width="63" height="88">
                </li>
                {{ end }}
            </ul>
        </div>
    </div>

    <div id="user-cards" class="col-md-12">
        Cards of players:
        {{ range $pos, $cards := $.playerInfo.PlayersCards }}
        <div class="col-md-12">
            {{ $isMyCards := eq $.playerInfo.Position $pos }}
            {{ if $isMyCards }}
            My Cards:
            {{ else }}
            Player #{{ $pos }}:
            {{ end }}
            <ul>
                {{ range $idx, $card := $cards }}
                <li class="list-inline" style="display: inline-block">
                    <img src="{{ getCardUrl $card.Color $card.Value }}"  width="63" height="88">
                    <!--{{ cardValue $card.Value }} {{ cardColor $card.Color }}-->
                    <div>
                    {{ if and $isMyCards $.playerInfo.MyTurn }}
                        <div>
                            <a href="javascript:Game.PlayCard({{ $idx }})">
                                Play card
                            </a>
                        </div>
                        <div>
                            <a href="javascript:Game.DiscardCard({{ $idx }})">
                                Discard card
                            </a>
                        </div>
                    {{ end }}
                    {{ $notMyCards := not $isMyCards }}
                    {{ if and $notMyCards $.playerInfo.MyTurn }}
                        <div>
                            <a href="javascript:Game.InfoCardValue({{ $pos }}, {{ $card.Value }})">
                                Information value
                            </a>
                        </div>
                        <div>
                            <a href="javascript:Game.InfoCardColor({{ $pos }}, {{ $card.Color }})">
                                Information color
                            </a>
                        </div>
                    {{ end }}
                    </div>
                </li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </div>
</div>

<meta name="step" step="{{ .Step }}">
